.containerNote {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
}

.containerNote input {
    width: 85vh;
}
.tags{
    font-size: 21px;
    font-family: Impact, fantasy;
}
.tags div{
    color: #818080;
}